/node_modules
/cover
/out
/out.html
/test/cover
/docs.html
/examples/basic/docs.html
/examples/basic/cover
/docs
/report.txt
/report.json
/examples/basic/docs
/examples/submodules/docs
/examples/add/docs
/src/extract-jsdocs/test/cover
/examples/qunit/docs
/src/doc-model/test/cover
/examples/lodash/docs
/npm-debug.log
/examples/anonymous/doc
