/node_modules
/cover
/out
/out.html
/test/cover
/docs.html
/examples/basic/docs.html
/examples/basic/cover
/docs
/report.txt
/report.json
/examples/basic/docs
/examples/submodules/docs
/examples/add/docs
/src/extract-jsdocs/test/cover
/examples/qunit/docs
/src/doc-model/test/cover
/examples/lodash/docs
/npm-debug.log
/examples/anonymous/doc
/examples/immediate/doc
/examples/unnamed/doc
/src/utils/cover
/src/extract-jsdocs/cover
/src/doc-transform/cover
/src/doc-transform/adapters/gt/test/cover
/src/doc-transform/test/cover
/test/docs
/examples/anonymous/docs
/examples/immediate/docs
/examples/unnamed/docs
/src/doc-transform/adapters/qunit/test/cover
/src/utils/test/cover
/examples/underscore/cover
/examples/underscore/docs
/examples/deprecated/docs
/examples/sort/docs
/examples/long/docs
