body {
  background-color: #f6f6f6;
  background-image: url('background.png');
}

#mainTitle {
  padding-left: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content {
  width: 85%;
  padding: 5px 5px 0px 5px;
  margin: 10px auto 0 auto;
  /*max-width: 700px;*/
  /* lodash.com has great looking API docs */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  /* line-height: 1.25em; */
  color: #222;
}

.content h3 {
  margin-bottom: 0.5em;
}

.content .method:last-child {
  border: none;
}

.content #index {
  max-width: 15%;
  padding-left: 1em;
  /*padding-top: 1em;*/
  overflow-x: hidden;
  overflow-y: auto;
  left: 50px;
  /*top: 5em;*/
  position: fixed;
  /*bottom: 0;*/
}

.content #index a:link, a:visited {
  color: #444;
  /* font-family: monospace; */
  font-family: Consolas, 'Courier New', monospace;
}

.content #docs {
  padding-left: 2em;
  /*padding-right: 105px;*/
  width: 85%;
  float: right;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  /*position: fixed;*/
  /*right: 50px;*/
  /*bottom: 0;*/
}

.namedCode {
  margin-bottom: 5px;
  padding: 4px 0 0 0;
  border-radius: 5px;
  /*background-color: #fff;*/
  /*border: #ddd solid 1px;*/
}

.example {
  /* border-left: Bisque solid thick;*/
  /* padding-left: 5px;*/
  /*margin-bottom: 5px;*/
  display: none;
}

.sample {
  /*border-left: lightGreen solid thick;*/
  /*padding-left: 5px;*/
  /*border: gray solid thin;*/
  /*
  margin-bottom: 5px;
  padding: 2px 0 0 0;
  border-radius: 5px;
  background-color: #eeeeee;
  */
}

span.sampleName {
  font-weight: bolder;
  padding: 0 0.5em;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
  border-left: #bbb solid 1px;
  border-top: #bbb solid 1px;
  border-right: #999 solid 1px;
  margin-bottom: 0;
}

pre {
  /*margin-top: 0.3em;*/
  margin-top: 0;
  margin-bottom: 0;
  padding: 3px 3px;
  background-color: #fff;
  border-right: #bbb solid 1px;
  border-bottom: #bbb solid 1px;
  border-left: #bbb solid 1px;
}

.method {
  border: none;
  border-bottom: 1px solid gray;
  /*padding-left: 5px;*/
  padding-bottom: 3px;
}

.methodCode {
  /*border-left: lightGray solid thick;*/
  /*padding-left: 5px;*/
  display: none;
}

code {
  /*margin-top: 0.5em;*/
}

.showing {
  color: red;
}

.timestamp {
  color: gray;
  padding-top: 1em;
  padding-left: 2em;
  font-size: smaller;
}

.toggles {
  margin-bottom: 5px;
}

div .moduleName {
  margin-top: 1em;
  font-weight: bolder;
}

@media screen and (max-width: 980px) {
  #mainTitle sub {
    font-size: small
  }

  .content {
    width: 99%;
  }

  .content #index {
    left: 0;
    padding-left: 5px;
  }

  .content #docs {
    padding-left: 5px;
    right: 0;
  }
}